
.App {
  text-align: center;
  /* background-color: cornsilk; */
    background-image: url("https://dheerajjames.github.io/images/black.jpg");
    background-size: cover;
  height: 100%;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 769px){
.App{
  width:835px;
  height: 1000px;
}
}
@media(max-width: 575.98px){
  .App{
    width:835px;
    height: 1500px;
  }
}