
.header {
  padding: 20px;
  background-color: black;
  /* background-color: #fafafa; */
  height: 60px;
  
}
.navContainer{
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.header .navLink{
 color: white;
}
.header .navitem {
    color: white;
    padding: 0 15px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    list-style: none;
  }
  .header .navitem.active {
    background: #000;
    color: #fff;
  }

  .navLink{
      padding-right: 10px;
      border-right: 2px solid rgb(177, 115, 204);
      text-decoration: none;
      color: #000;
  }
.navLink:hover{
  font-size: 1.2rem;
}

@media (max-width: 769px) {
  .header {
   width: 100vw;
   padding-left:0px;

  }
  .navContainer{
    padding:0px;
  }

} 
@media(max-width: 575.98px){
}